@import "../styles/base.css";

.hero-header {
  background-image: url('../images/Vivier Glaubst du an die Unsterblichkeit der Seele.jpg');
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section * {
  flex: 1;
  text-align: center;
}

@media screen and (max-width: 800px) {
  #overlay div { 
    padding: 0 4px;
  }
}